<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Angular App</title>
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-montserrat animate-fadeIn">
    <section class="grid">
      <article class="accordion">
        <h1 class="accordion-title">Veelgekochte producten</h1>
        <mat-accordion class="accordion">
          <mat-expansion-panel
            *ngFor="let product of products | slice : 0 : 4; let i = index"
            class="accordion-item"
            [ngClass]="{ menuOpenBg: isMenuOpen[i] }"
            (opened)="toggleAccordionItem(i)"
            (closed)="toggleAccordionItem(i)"
            hideToggle
          >
            <mat-expansion-panel-header class="header">
              <mat-panel-title>
                <mat-icon *ngIf="!isMenuOpen[i]" class="accordion-icon__add"
                  >add</mat-icon
                >
                <mat-icon *ngIf="isMenuOpen[i]" class="accordion-icon__min"
                  >minimize</mat-icon
                >
                <h2 class="accordion-item__title">
                  {{ product.title }}
                </h2>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="accordion-item__body">{{ product.description }}</p>
          </mat-expansion-panel>
        </mat-accordion>
        <section>
          <button class="accordion-btn group" (click)="buttonClicked()">
            <span class="accordion-btn__box"></span>
            <span class="accordion-btn__text"> Bekijk alles </span>
            <mat-icon
              class="accordion-btn__icon"
              [ngClass]="spin ? 'animate-spin' : ''"
              >keyboard_arrow_right
            </mat-icon>
          </button>
        </section>
      </article>
      <article [class.showSun]="showSunAnimation" class="sun-container group">
        <svg
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
          class="sun-rays"
          style="animation: spin-slower 3s linear infinite"
        >
          <path fill="none" d="M0 0h256v256H0z"></path>
          <path
            d="M136 32v32a8 8 0 0 1-16 0V32a8 8 0 0 1 16 0Zm37.3 58.7a7.8 7.8 0 0 0 5.6-2.3l22.6-22.6a8 8 0 1 0-11.3-11.3l-22.6 22.6a8 8 0 0 0 0 11.3 7.8 7.8 0 0 0 5.7 2.3ZM224 120h-32a8 8 0 0 0 0 16h32a8 8 0 0 0 0-16Zm-45.1 47.6a8 8 0 0 0-11.3 11.3l22.6 22.6a8 8 0 0 0 5.7 2.4 7.7 7.7 0 0 0 5.6-2.4 7.9 7.9 0 0 0 0-11.3ZM128 184a8 8 0 0 0-8 8v32a8 8 0 0 0 16 0v-32a8 8 0 0 0-8-8Zm-50.9-16.4-22.6 22.6a7.9 7.9 0 0 0 0 11.3 7.7 7.7 0 0 0 5.6 2.4 8 8 0 0 0 5.7-2.4l22.6-22.6a8 8 0 0 0-11.3-11.3ZM72 128a8 8 0 0 0-8-8H32a8 8 0 0 0 0 16h32a8 8 0 0 0 8-8Zm-6.2-73.5a8 8 0 0 0-11.3 11.3l22.6 22.6a8.1 8.1 0 0 0 11.3 0 8 8 0 0 0 0-11.3Z"
            fill="#ffcc33"
            class="fill-000000"
          ></path>
        </svg>
        <div class="sun-body"></div>
      </article>
    </section>
  </body>
</html>
