<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>My Angular App</title>
    <base href="/" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-montserrat">
    <section class="grid">
      <article class="accordion">
        <h1 class="accordion-title">Veelgekochte producten</h1>
        <div
          class="accordion-item"
          *ngFor="let product of products | slice : 0 : 4; let i = index"
          [ngClass]="{ menuOpenBg: isMenuOpen[i] }"
        >
          <div class="max-w-lg p-3">
            <details class="">
              <summary
                class="accordion-item__header"
                (click)="toggleAccordionItem(i)"
              >
                <span class="accordion-item__icon">
                  <mat-icon *ngIf="!isMenuOpen[i]" class="accordion-icon__add"
                    >add</mat-icon
                  >
                  <mat-icon *ngIf="isMenuOpen[i]" class="accordion-icon__min"
                    >minimize</mat-icon
                  >
                </span>
                {{ product.title }}
              </summary>
              <div class="accordion-body">
                <p>
                  {{ product.description }}
                </p>
              </div>
            </details>
          </div>
        </div>
        <section>
          <button class="btn accordion-btn">
            <span class="accordion-btn__text"> Bekijk alles </span>
            <mat-icon class="accordion-btn__icon"
              >keyboard_arrow_right
            </mat-icon>
          </button>
        </section>
      </article>
    </section>
  </body>
</html>
